@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

/*base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3.5rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  /* background: linear-gradient(90deg, #183da4 0%, #08174a 50%); */
  background: linear-gradient(90deg, #08174a 0%, black 55%);
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

/*reutilisabes*/
.section {
  padding: 4.5rem 0 2rem;
}

.sectiontitle {
  font-size: 2.25rem !important;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Times New Roman, Times, serif';
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*header*/

.header {
  width: 100%;
  /* background: linear-gradient(90deg, #183da4 0%, #08174a 50%); */
  background: linear-gradient(90deg, black 0%, #08174a 50%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navL {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
}

.navL-img {
  width: 1.25rem;
}

.navLink,
.navL,
.navToggle,
.navclose {
  color: #fff;
}

.navToggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navM {
    position: fixed;
    width: 100%;
    background: #000c32;
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: 100;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.navclose {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.navLink {
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.4s;
}

.navLink:hover {
  color: #fff;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background: #000c32;
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}



/*HOME*/
.homecont {
  row-gap: 1rem;
}

.homegroup {
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.homeimg {
  height: 250px;
  width: 100%;
  justify-self: center;
  margin-top: 3%;
}

.hometitle {
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  line-height: 109%;
  margin-bottom: 1rem;
}

.homedes {
  margin-bottom: 1rem;

}

.homebut {
  display: flex;
}

.homebut a {
  margin-left: 10px;
}

.swiper-pagination {
  position: initial;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}

@media (min-width: 468px) {
  .hometitle {
    font-size: 3rem;
    /* Tamaño de fuente más pequeño para dispositivos de 468px de ancho */
    margin-top: 8%;
    /* text-align: center; */

  }


  
}

@media (min-width: 768px) {
  .hometitle {
    font-size: 3.5rem;
    /* Tamaño de fuente más pequeño para dispositivos de 768px de ancho */
  }
}


/*BUTTONS*/
.button {
  display: inline-block;
  background-color: orange;

  color: black;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: 600;
  transition: .3s;
}

.button:hover {
  background-color: white;
}

.btnBox {
  display: flex;
  justify-content: center;
  margin-top: 4%;

}

.btnArtist {
  align-items: center;
  width: 120px;


}

.buttonicon {
  font-size: 1.25rem;
}


/*ARTISTAS*/
.categorycontainer {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

.dataArtistas {
  text-align: center;
}

.categoryimg {
  width: 120px;
  margin-bottom: .75rem;
  transition: 3s;
}

.artistasTitle {
  margin-bottom: .25rem;
  margin-top: 3%;
}


.dataArtistas:hover .categoryimg {
  transform: translateY(-.5rem);
}


/*ABOUT*/
.aboutcontainer {
  row-gap: 2rem;
  margin-top: 5%;
}

.aboutdata {
  text-align: center;
}

.aboutdescription {
  margin-bottom: 2rem;
}

.aboutimg {
  width: 200px;
  border-radius: 30%;
  box-shadow: 10px 5px orange;
  justify-self: center;
}

/*SELLO*/

.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.artist-content {
  display: flex;
  align-items: center;
}

.artist-img {
  max-width: 100%;
}

.artist-text {
  padding: 1rem;
}

.artist-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.artist-subtitle {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.artist-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.artist-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.artist-button:hover {
  background-color: #0056b3;
}

.artist-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .artist-container {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en dispositivos de hasta 768px */
    gap: 1rem; /* Reducir el espacio entre elementos en dispositivos más pequeños */
  }

  .artist-content {
    flex-direction: column; /* Cambiar la dirección de la fila a la columna en dispositivos más pequeños */
    align-items: flex-start; /* Alinear elementos a la izquierda en dispositivos más pequeños */
  }

  .artist-img {
    width: 100%; /* Ajustar el ancho de la imagen al 100% para que se ajuste al contenedor en dispositivos más pequeños */
    max-width: none; /* Restablecer la máxima anchura de la imagen */
    margin-bottom: 1rem; /* Agregar un espacio inferior entre la imagen y el texto */
  }

  .artist-text {
    padding: 0; /* Eliminar el relleno en dispositivos más pequeños */
  }

  .artist-title {
    font-size: 1.25rem; /* Reducir el tamaño del título en dispositivos más pequeños */
    margin-bottom: 0.25rem; /* Reducir el espacio inferior del título */
  }

  .artist-subtitle {
    font-size: 1rem; /* Reducir el tamaño del subtítulo en dispositivos más pequeños */
    margin-bottom: 0.25rem; /* Reducir el espacio inferior del subtítulo */
  }

  .artist-price {
    font-size: 1.1rem; /* Reducir el tamaño del precio en dispositivos más pequeños */
    margin-bottom: 0.25rem; /* Reducir el espacio inferior del precio */
  }

  .artist-button {
    font-size: 1rem; /* Reducir el tamaño del botón en dispositivos más pequeños */
    padding: 0.5rem 1rem; /* Ajustar el relleno del botón */
    margin-top: 0.5rem; /* Agregar un margen superior al botón */
  }

  .artist-icon {
    font-size: 1.25rem; /* Reducir el tamaño del icono en dispositivos más pequeños */
    margin-right: 0; /* Eliminar el margen derecho del icono */
    margin-bottom: 0.5rem; /* Agregar un espacio inferior entre el icono y el texto */
  }
  .artist-text p{
    text-align: center;
    margin-bottom: 3%;
   }
}

@media (max-width: 468px) {
  .artist-title {
    font-size: 1.1rem; /* Reducir aún más el tamaño del título para dispositivos más pequeños */
  }

  .artist-subtitle {
    font-size: 0.9rem; /* Reducir aún más el tamaño del subtítulo para dispositivos más pequeños */
  }

  .artist-price {
    font-size: 1rem; /* Reducir aún más el tamaño del precio para dispositivos más pequeños */
  }

  .artist-button {
    font-size: 0.9rem; /* Reducir aún más el tamaño del botón para dispositivos más pequeños */
  }
 .artist-text p{
  text-align: center;
  margin-bottom: 3%;
 }

  .artist-icon {
    font-size: 1rem; /* Reducir aún más el tamaño del icono para dispositivos más pequeños */
  }
}


/*BANNER*/
.discounttitle {
  font-size: 3.7rem;
  /* Ajusta el tamaño de la fuente según sea necesario */
  font-family: 'Arial', sans-serif;
  /* Cambia la fuente si lo deseas */
  color: #ff3f3f;
  /* Color llamativo */
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* Sombra de texto */

  text-transform: uppercase;
  /* Convierte el texto a mayúsculas */
  letter-spacing: 2px;
  /* Espaciado entre letras */
}

.discountcontainer {
  background: linear-gradient(45deg, #ff3f3f, #ffcc00, #33cc33, #3399ff);
  /* Fondo colorido */
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: .75rem;
}





/* Noticias */

.noticiascontainer {
  padding: 2rem 0;
  /* Ajusta el relleno según sea necesario */
}

.noticiasbanner {
  position: relative;
}

.noticiasbannerimg {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  /* Ajusta el radio de borde según sea necesario */
}

.noticiasbannertext {
  position: absolute;
  bottom: 1rem;
  /* Ajusta la posición vertical según sea necesario */
  left: 1rem;
  /* Ajusta la posición horizontal según sea necesario */
  background-color: rgba(0, 0, 0, 0.7);
  /* Color de fondo para el texto */
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* Ajusta el radio de borde según sea necesario */
}

.noticiasbannertitle {
  font-size: 2rem;
  /* Tamaño del título */
  color: #ffffff;
  /* Color del texto */
  margin-bottom: 0.5rem;
  /* Ajusta el margen inferior según sea necesario */
}


.noticiasbannersubtitle {
  font-size: 1.2rem;
  /* Tamaño del subtitulo */
  color: #ffffff;
  /* Color del texto */
  margin: 0;
  /* Elimina el margen superior e inferior */
}



/*NOTICIAS*/
.newsld {
  text-align: center;
  margin-bottom: 1.5rem;
}

.newslf {
  background: #3678ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: .75rem;
}


.newslin {
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: #fff;
}

.button2 {
  display: inline-block;
  background: #0557fc;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: .3s;
}

.newslin::placeholder {
  color: #fff;
}

/*FOOTER*/

.footer {
  position: relative;
  width: 100%;

  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;

}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;

  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}


/*scroll up */
.scrollup {
  position: fixed;
  background: #000C32;
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: 10;
  opacity: .8;
  transition: .4s;
}

.scrollupicon {
  font-size: 1.25rem;
  color: #fff;
}

.scrollup:hover {
  background: #000C32;
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: .5rem;
}

/*RESPONSIVE */


@media (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .homeimg {
    height: 200px;
  }

  .homebut {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .categorycontainer,
  .productcontainer {
    grid-template-columns: .8fr;
    justify-content: center;
  }

}


@media (min-width: 576px) {
  .aboutcontainer {
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newslc {
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }

  .newsld {
    padding: 0 3rem;
  }

}

@media (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(3.5rem + 1.5rem);
  }

  .navclose,
  .navToggle {
    display: none;
  }

  .navList {
    flex-direction: row;
    column-gap: 3rem;
  }

  .navLink {
    text-transform: initial;
    font-weight: initial;
  }

  .homecont {
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .homeimg {
    height: 300px;
  }

  .swiper-pagination {
    margin-top: 2rem;
  }

  .categorycontainer {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .aboutcontainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .abouttitle,
  .aboutdata {
    text-align: initial;

  }

  .aboutimg {
    width: 250px;
  }

  .productcontainer {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
  }

  .discountcontainer {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }

  .discountimg {
    width: 350px;
    order: -1;
  }

  .discountdata {
    padding-right: 6rem;
  }

  .newslc {
    grid-template-columns: .5fr;
  }

  .footercontainer {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }


}

@media (min-width: 992px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .sectiontitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .homecont {
    padding-top: 9rem;
    gap: 3rem;
  }

  .homegroup {
    padding-top: 0;
  }

  .homeimg {
    height: 400px;
    transform: translateY(-3rem);
  }

  .homeindicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }

  .homeindicator::after {
    top: 0;
    height: 75px;
  }

  .homedetails-img {
    bottom: 0;
    right: 58%;

  }

  .hometitle {
    margin-bottom: 1.5rem;
  }

  .homedes {
    margin-bottom: 2.5rem;
    padding-right: 2rem;
  }

  .categorycontainer {
    column-gap: 8rem;
  }

  .categoryimg {
    width: 200px;
  }

  .aboutcontainer {
    column-gap: 7rem;
  }

  .aboutimg {
    width: 350px;
  }

  .aboutdescription {
    padding-right: 2rem;
  }

  .productcontainer {
    gap: 3.5rem;
  }

  .productcontent {
    border-radius: 1.5rem;
  }

  .productimg {
    width: 110px;

  }

  .producttitle {
    font-size: 1rem;
  }

  .discountcontainer {
    column-gap: 7rem;
  }

  .newcontent {
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .newimg {
    width: 150px;
  }

  .newimg,
  .newsubtitle {
    margin-bottom: 1rem;
  }

  .newtitle {
    font-size: 1rem;
  }

  .footercopy {
    margin-top: 6rem;
  }

}

@media (min-width: 1200px) {

  .homeimg {
    height: 420px;
  }

  .swiper-pagination {
    margin-top: 2.5rem;
  }



}

@media (max-width: 768px) {
  .textImport {
    text-align: center; /* Centrar el texto horizontalmente en dispositivos de hasta 768px */
  }
}

@media (max-width: 468px) {
  .textImport {
    text-align: center; /* Centrar el texto horizontalmente en dispositivos de hasta 468px */
  }
}



